<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>PQ9 Template</title>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
	</style>
</head>
<body lang="en-US" dir="ltr">
<h1>PQ9 Project Template</h1>

<p>This is a project template for the PQ9 Standard</p>
<p>Some info and links for the creators</p>
<p>Connectors can be found at:<br>
	<ul>
		<li><a href="https://www.samtec.com/products/mtmm">SAMTEC</a></li>
	</ul>
</p>
<div align="center"><img src="board.png"></div>
<p>Created by:<br> <a href="https://libre.space"><img src="lsf.png" alt="Libre Space Foundation"></a></p>

</body>
</html>
